body{
    background-color: #9C9EFE;
}

body {
    margin: 0;
    font-family: "Josefin Sans";
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #AF7AB3;
    color: white;
  }

html{
    box-sizing: border-box;
}
#aboutus{
    padding: 50px;
    background-color: #AFB4FF;
    color: black;
    text-align: center;
}

#meme1{
    width: 300px;
    height: 200px;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 20;
    margin-bottom: 8px;
    padding: 0 8px;
    position:static;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: #4B5D67;
  }
  
  .button {
    font-size: 15px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #898AA6   ;
    text-align: center;
    cursor: pointer;
    width: 110px;
    margin-bottom: 5px;
    margin-left: 15px;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  div.scrollmenu {

    overflow: auto;
    white-space: nowrap;
  }
  

    #meme2{
        width: 40px;
        height: 250px
    }

    #btn2{
      font-size: 15px;
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #898AA6   ;
      text-align: center;
      cursor: pointer;
      width: 110px;
      margin-bottom: 5px;

    }
    
    #btn2:hover{
      background-color: #607EAA;
    }